{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Skyblog</h1>
    <p class="lead">Здесь живут статьи</p>
  {% if user.is_authenticated %}
    <a href="{% url 'catalog:create' %}" class="btn btn-primary my-2">Создать статью</a>
  {% endif %}
</div>

<div class="album py-5 bg-body-tertiary">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      {% for object in object_list%}
        <div class="col-4">
          <div class="card mb-4 box-shadow">
            <img class="img-thumbnail" src="{{object.preview|mediapath}}" alt="Generic placeholder image">
            <div class="card-body">
              <h4 class="card-text text-center">{{ object.name }}</h4>
              <nav>
                <a type="button" class="btn btn-success" href="{% url 'catalog:detail' object.slug %}">Читать</a>
                {% if user.is_authenticated %}
                  <a type="button" class="btn btn-warning" href="{% url 'catalog:update' object.slug %}">Править</a>
                  <a type="button" class="btn btn-danger" href="{% url 'catalog:delete' object.slug %}">Удалить</a>
                {% endif %}
              </nav>
                <small class="text-body-secondary">Просмотров: {{object.view_count }}</small>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}