{% extends 'catalog/base.html' %}

{% block content %}
<div class="container">
    <div class="row text-center justify-content-center align-items-center">
        <div class="col-5">
            <form method="post" enctype="multipart/form-data">
                <div class="card mb-4">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Данные о продукте</h4>
                    </div>
                    <div class="card-body">
                        {% csrf_token %}
                        {{ form.as_p }}
                        {% if object.name %}
                            <button type="submit" class="btn btn-lg btn-block btn-outline-primary">Внести изменения</button>
                        {% else %}
                            <button type="submit" class="btn btn-lg btn-block btn-outline-success">Создать</button>
                        {% endif %}
                    </div>
                    <div class="card-footer"></div>
                </div>
                {% if object.name %}
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">Версия продукта</h4>
                        </div>
                        <div class="card-body">
                            {% csrf_token %}
                            {{ formset.management_form }}
                            {% for form in formset.forms %}
                                {{ form.as_p }}
                                {% if not forloop.last %}
                                    <hr>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="card-footer"></div>
                    </div>
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock %}