{% extends 'catalog/base.html' %}
{% block content%}
  <div class="col">
    <div class="card mb-4 box-shadow">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <p>Хотите удадить такой классный продукт "{{ object.name }}"? Вы серьёзно??</p>
                <button type="submit" class="btn btn-lg btn-block btn-outline-danger">Подтвердить удаление</button>
                <a href="{% url 'catalog:main' %}" class="btn btn-lg btn-block btn-outline-success">Отмена!</a>
            </form>
        </div>
    </div>
  </div>
{% endblock %}